.navbar {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: #f1f1f1;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #555555;
}

.logout {
  background-color: #0b8d1c;
  padding: 5px 10px;
  border-radius: 13px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logout a {
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logout a:hover {
  color: #555555;
}

.nav-links li.selected {
  border-bottom: 2px solid green;
  color: green; /* Change the color of the selected item */
}

.search-button {
  background-color: white;
  border: none;
  font-family: poppins;
  font-weight: bold;
  font-size: 14px;
}