/* Navbar.css */

.navbar {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links li a {
    color: rgb(20 20 20);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #0b8d1c;
  }

  .logout {
    background-color: #0b8d1c;
    padding: 5px 10px;
    border-radius: 13px;
  }

  .logout:hover {
  color: rgb(3, 3, 29);
  }
  