/* App.css */
.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  
}

/* Header styles */
.App-header {
  background-color: #ffffff;
  min-height: 20vh;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 200%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(3, 26, 56);
  padding: 20px;
  animation: headerAnimation 4s linear;
}

.h2app {
  color:green;
}

.logo {
  position: absolute;
  max-width: 350px;
  left: -20px;
  top: -40px;

}

/* Navbar styles */
/* .navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li {
  margin-right: 1rem;
}



.navbar ul li a {
  color: #fff;
  text-decoration: none;
} */

/* Header styles */
/* .App-header {
  text-align: center;
  padding: 2rem;
  background-color: #f4f4f4;
} */

/* .App-header h1 {
  font-size: 2rem;
} */


/* Landing page styles */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 2rem 0;
}

.product-card {
  box-sizing: border-box;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.product-card::after {
  content: "Add to Cart";
  /* Background image and other properties */
}

.product-card:hover::after {
  /* Hover styles for add to cart button */
}

.product-card:hover {
  border: 1px solid black;
  transform: scale(1.02);
}

.product-card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.product-card h3 {
  font-size: 1.2rem;
}

.product-card p {
  font-weight: bold;
  margin-bottom: 0;
}

.input {
  max-width: 900px; /* Increase the max-width value as needed */
  border: none;
  padding: 30px;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 20px 20px 60px #c5c5c5, -20px -20px 60px #ffffff;
  transition: 0.3s;
}




.input:focus {
  outline-color: #e8e8e8;
}

.input {
  width: 70%; /* Set the initial width to 100% */
  max-width: 900px; /* Set a maximum width for larger screens */
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 20px 20px 60px #c5c5c5, -20px -20px 60px #ffffff;
  transition: 0.3s;
  margin-right: 20px;
}

.input:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: 20px 20px 60px #c5c5c5, -20px -20px 60px #ffffff;
  transition: 0.3s;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .input {
    max-width: 100%; /* Set the maximum width to 100% for smaller screens */
  }
}


.search-icon {
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 0 13px 0 13px;
  transition: all 0.3s ease; /* transition property */
}

.search-icon:hover {
  color: orange;
  font-size: 22px;
  background: green;
  transform: rotate(360deg); /*  rotation animation */
}
.banner-container {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  display: flex;
  justify-content: flex-start; /* Adjust alignment as needed */
  align-items: center;
  margin: 7%;
}

.banner-container::-webkit-scrollbar {
  width: 1px;
}

.banner-container::-webkit-scrollbar-thumb {
  background-color: green;
  border-radius: 0px 13px;
}

.banner {
  display: flex;
  animation: none; /* Remove the animation */
}

.banner-item {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  padding: 10px;
}

.banner-item img {
  width: 150%; 
  height: auto;
  object-fit:contain;
  max-height: 300px; 
}
